html {
  box-sizing: border-box;
}
body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); 
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
  padding: none;
  margin: none;
}
span.resultado {
  position: relative;
  width: 100%;
}
.resultado-enter {
  transition: .5s;
}
.resultado-enter.resultado-enter-active{
  transform: translateY(0%);
}
.resultado-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.resultado-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}
/* App */
.contentApp {
  max-width: 600px;
  margin: auto;
}
.formContent {
  background-color: #fff;
  padding: 3rem;
}

/* header */
.ContentHeader {
  background-color: #26C6DA;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
}

.textHeader {
  font-size: 2rem;
  margin: 0;
  font-family: "Slabo 27px", serif;
  text-align: center;
}

/* Form */
.fieldForm {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.labelForm {
  flex: 0 0 100px;
}
.selectForm {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  -webkit-appearance: none;
}
.inputRadio {
  margin: 0 1rem;
}