html {
  box-sizing: border-box;
}
body {
  background: #e96443;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #904e95, #e96443); 
  font-family: Arial, Helvetica, sans-serif;
}

span.result {
  position: relative;
  width: 100%;
}
.result-enter {
  transition: .5s;
}
.result-enter.result-enter-active{
  transform: translateY(0%);
}
.result-exit{
  transform: translateY(0);
  transition: .5s;
  position : absolute;
  left: 0;
  bottom : 0;
  right: 0;
}
.result-exit-active{
  opacity: 0;
  transform: translateY(-10%);
}
/* App */
.contentApp {
  max-width: 600px;
  margin: auto;
}
.formContent {
  background-color: #fff;
  padding: 3rem;
}

/* header */
.ContentHeader {
  background-color: #26C6DA;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
}

.textHeader {
  font-size: 2rem;
  margin: 0;
  font-family: "Slabo 27px", serif;
  text-align: center;
}

/* Form */
.fieldForm {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.labelForm {
  flex: 0 0 100px;
}
.selectForm {
  display: block;
  width: 100%;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  -webkit-appearance: none;
}
.inputRadio {
  margin: 0 1rem;
}

.btnForm {
  background-color: #00838F;
  font-size: 16px;
  width: 100%;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  margin-top: 2rem;
  transition: background-color .3s ease;

  &:hover {
    background-color: #26C6DA;
    cursor: pointer;

  }
}
.errorForm {
  background-color: red;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

//Summary
.summaryContent {
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  padding: 1rem;
  background-color: #00838F;
  color: #fff;
  margin-top: 1rem;

  li {
    margin-bottom: 1rem;
  }
}

//Result
.resultEmpty {
  background-color: #DD5246;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.resultFull {
  background-color: #1ED760;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

